@media (max-width: 600px){
    .header{
        border: #252d3f 10px solid;
        margin: -10px;
    }

    body{
        background-color: #f2dba6;
    }

    .imgs{
        display: flex;
        flex-direction: row;
        margin-top: -7px;
    }

    .img{
        width: 100%;
        margin-bottom: -5px;
        border-top: #252d3f 10px solid;
    }

    #me{
        width: 61.5%;
        height: 49%;
        border-top: #252d3f 10px solid;
    }
    
    #nephew{
        width: 38.5%;
        height: 49%;
        border-top: #252d3f 10px solid;
    }

    #grandCanyon{
        margin-top: -9px;
    }

    .dropdown-content{
        height: 0;
        font-size: 0;
        text-align: center;
    }

    .active{
        text-decoration: none;
        color: #98583b;
        margin: 20px;
    }
    
    .show{
        position: fixed;
        display: flex;
        flex-direction: column;
        height: max-content;
        width: max-content;
        background-color: #29374c;
        text-decoration: none;
        font-size: 30px;
        margin-top: 66px;
        margin-left: -10px;
    }  

    #title{
        background-color: #5b5c67;
        font-size: 60px;
        text-align: center;
        color: #71331f;
    }

    #dropbtn{
        background: #00000000;
        border: none;
        position: fixed;
        margin-top: 20px;
    }

    #dropbtn > div{
        width: 35px;
        height: 6px;
        background-color: black;
        margin: 6px 0;
    }

    .skills{
        font-size: 30px;
        flex-direction: column;
        list-style: none;
    
        background-color: #a25434;
        border-radius: 15%;
        padding: 30px;
        padding-left: 80px;
        border: #2c280e 5px solid;
    }
    
    .languages{
        list-style: none;
        text-align: center;
    }
    
    .liBack{
        margin-top: 20px;
        width: 200px;
        background-color: #7a7b7d;
        border-radius: 20%;
    }

    #jsImg, #reactImg, #cssImg, #nodeJsImg, #htmlImg {
        width: 0;
    }
    
    #intro{
        font-size: 30px;
        flex: 1;
        align-self: center;
        margin-right: 5%;
        border: #37435b solid 5px;
        border-radius: 20%;
        padding: 20px;
        background-color: #312f12;
        color: #a25434;
    }
    
    .tools{
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
        background-color: #495362;
        border: #a25434 20px groove;
        color: #492a1d;
        font-weight: 500;
    }

    .toolsList{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -30px;
    }
    
    .toolsList1{
        list-style: none;
    
    }
    
    .liTools{
        margin-top: 10px;
        margin-bottom: 30px;
    }
        
    .toolImg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 230px;
        margin-top: 20px;
    }
        
    #vsCodeImg{
        width: 50px;
    }
        
    #macOSImg{
        margin-top: -10px;
        width: 50px;
    }
        
    #slackImg{
        margin-top: -10px;
        width: 50px;
    }

    .aboutMe{
        margin: 50px;
        background-color: #495362;
        border: #a25434 20px groove;
        font-size: 40px;
        border-radius: 50%;
    }

    .p1, .p2{
        margin: 90px;
        text-indent: 63px;
    }

    .form{
        font-size: 40px;
        color: #7d4129;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .inputs{
        text-align: center;
    }

    #one, #two, #three, #send{
        margin: 30px;
    }

    #fName, #email{
        height: 20px;
        width: 300px;
    }

    #message{
        height: 100px;
        width: 400px;
    }

    #send{
        height: 40px;
        width: 200px;
        font-size: 30px;
        background-color: #7a7b7d;
        color: #7d4129;
    }

    #fName, #email, #message, #send{
        border-radius: 10%;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #a25434;
        margin-top: 40px;
    }

    #twitter{
        height: 80px;
        width: 80px;
        margin: 30px;
    }

    #github{
        height: 80px;
        width: 80px;
        margin: 30px;
    }

    #linkedIn{
        height: 80px;
        width: 80px;
        margin: 30px;
    }
}










@media (min-width: 601px) and (max-width: 700px){
    .header{
        border: #252d3f 10px solid;
        margin: -10px;
    }
    body{
        background-color: #f2dba6;
    }

    .imgs{
        display: flex;
        flex-direction: row;
        margin-top: 44px;

    }

    .img{
        width: 100%;
        margin-bottom: -5px;
        border-top: #252d3f 10px solid;
    }

    #me{
        width: 61.5%;
        height: 49%;
        border-top: #252d3f 10px solid;
    }
    
    #nephew{
        width: 38.5%;
        height: 49%;
        border-top: #252d3f 10px solid;
    }

    #grandCanyon{
        margin-top: 44px;
    }
    
    #dropbtn{
        background: #00000000;
        border: none;

    }

    .dropdown-content{
        text-align: center;
    }
    
    .active{
        text-decoration: none;
        color: #3e3e13;
        font-size: 30px;
        margin-left: 30px;
        margin-right: 30px;

    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #5b5c67;
        margin-left: -9px;
        position: fixed;
        width: 102%;
        margin-top: -8px;
    }    
    
    #title{
        background-color: #5b5c67;
        font-size: 60px;
        text-align: center;
        color: #71331f;
    }
    
    .skills{
        font-size: 30px;
        flex-direction: column;
        list-style: none;
    
        background-color: #a25434;
        border-radius: 15%;
        padding: 30px;
        padding-left: 80px;
        border: #2c280e 5px solid;
    }
    
    .languages{
        list-style: none;
        text-align: center;
    }
    
    .liBack{
        margin-top: 20px;
        width: 200px;
        background-color: #7a7b7d;
        border-radius: 20%;
    }

    .lists{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .languageImg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 40px;
        margin-top: 30px;
    }

    #jsImg{
        width: 50px;
    }
    
    #reactImg{
        width: 150px;
    }
    
    #cssImg{
        width: 90px;
    }
    
    #nodeJsImg{
        margin-top: -20px;
        width: 70px;
    }
    
    #htmlImg{
        margin-top: -20px;
        width: 40px;
    }
    
    #intro{
        font-size: 30px;
        flex: 1;
        align-self: center;
        margin-right: 5%;
        border: #37435b solid 5px;
        border-radius: 20%;
        padding: 20px;
        background-color: #312f12;
        color: #a25434;
    }
    
    .tools{
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
        background-color: #495362;
        border: #a25434 20px groove;
        color: #492a1d;
        font-weight: 500;
    }
    .toolsList{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -30px;
    }
    
    .toolsList1{
        list-style: none;
    
    }
    
    .liTools{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .toolImg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 230px;
        margin-top: 20px;
    }
    
    #vsCodeImg{
        width: 50px;
    }
    
    #macOSImg{
        margin-top: -10px;
        width: 50px;
    }
    
    #slackImg{
        margin-top: -10px;
        width: 50px;
    }

    .aboutMe{
        margin: 50px;
        background-color: #495362;
        border: #a25434 20px groove;
        font-size: 40px;
        border-radius: 50%;
    }

    .p1, .p2{
        margin: 90px;
        text-indent: 63px;
    }

    .form{
        font-size: 40px;
        color: #7d4129;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .inputs{
        text-align: center;
    }

    #one, #two, #three, #send{
        margin: 30px;
    }

    #fName, #email{
        height: 20px;
        width: 300px;
    }

    #message{
        height: 200px;
        width: 500px;
    }

    #send{
        height: 40px;
        width: 200px;
        font-size: 30px;
        background-color: #7a7b7d;
        color: #7d4129;
    }

    #fName, #email, #message, #send{
        border-radius: 10%;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #a25434;
        margin-top: 40px;
    }

    #twitter{
        height: 100px;
        width: 100px;
        margin: 40px;
    }

    #github{
        height: 100px;
        width: 100px;
        margin: 40px;
    }

    #linkedIn{
        height: 100px;
        width: 100px;
        margin: 40px;
    }
}










@media (min-width: 701px) and (max-width: 1119px){
    .header{
        border: #252d3f 10px solid;
        margin: -10px;
    }
    body{
        background-color: #f2dba6;
    }

    .imgs{
        display: flex;
        flex-direction: row;
        margin-top: 44px;
    }

    .img{
        width: 100%;
        margin-bottom: -5px;
        border-top: #252d3f 10px solid;
    }

    #me{
        width: 61.5%;
        height: 49%;
        border-top: #252d3f 10px solid;
    }
    
    #nephew{
        width: 38.5%;
        height: 49%;
        border-top: #252d3f 10px solid;
    }

    #grandCanyon{
        margin-top: 44px;
    }
    
    #dropbtn{
        background: #00000000;
        border: none;

    }
    .dropdown-content{
        text-align: center;
    }
    
    .active{
        text-decoration: none;
        color: #3e3e13;
        font-size: 30px;
        margin-left: 70px;
        margin-right: 70px;

    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #5b5c67;
        margin-left: -9px;
        margin-top: -8px;
        position: fixed;
        width: 102%;
    }    
    
    #title{
        background-color: #5b5c67;
        font-size: 60px;
        text-align: center;
        color: #71331f;
    }
    
    
    .skills{
        font-size: 30px;
        flex-direction: column;
        list-style: none;
    
        background-color: #a25434;
        border-radius: 15%;
        padding: 30px;
        padding-left: 80px;
        border: #2c280e 5px solid;
    }
    
    .languages{
        list-style: none;
        text-align: center;
    }
    
    .liBack{
        margin-top: 20px;
        width: 200px;
        background-color: #7a7b7d;
        border-radius: 20%;
    }

    .lists{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .languageImg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 40px;
        margin-top: 30px;
    }

    #jsImg{
        width: 50px;
    }
    
    #reactImg{
        width: 150px;
    }
    
    #cssImg{
        width: 90px;
    }
    
    #nodeJsImg{
        margin-top: -20px;
        width: 70px;
    }
    
    #htmlImg{
        margin-top: -20px;
        width: 40px;
    }
    
    #intro{
        font-size: 30px;
        flex: 1;
        align-self: center;
        margin-right: 5%;
        border: #37435b solid 5px;
        border-radius: 20%;
        padding: 20px;
        background-color: #312f12;
        color: #a25434;
    }
    
    .tools{
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
        background-color: #495362;
        border: #a25434 20px groove;
        color: #492a1d;
        font-weight: 500;
    }
    .toolsList{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -30px;
    }
    
    .toolsList1{
        list-style: none;
    
    }
    
    .liTools{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .toolImg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 230px;
        margin-top: 20px;
    }
    
    #vsCodeImg{
        width: 50px;
    }
    
    #macOSImg{
        margin-top: -10px;
        width: 50px;
    }
    
    #slackImg{
        margin-top: -10px;
        width: 50px;
    }

    .aboutMe{
        margin: 50px;
        background-color: #495362;
        border: #a25434 20px groove;
        font-size: 40px;
        border-radius: 50%;
    }

    .p1, .p2{
        margin: 90px;
        text-indent: 63px;
    }

    .form{
        font-size: 40px;
        color: #7d4129;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .inputs{
        text-align: center;
    }

    #one, #two, #three, #send{
        margin: 30px;
    }

    #fName, #email{
        height: 20px;
        width: 300px;
    }

    #message{
        height: 200px;
        width: 700px;
    }

    #send{
        height: 40px;
        width: 200px;
        font-size: 30px;
        background-color: #7a7b7d;
        color: #7d4129;
    }

    #fName, #email, #message, #send{
        border-radius: 10%;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #a25434;
        margin-top: 40px;
    }

    #twitter{
        height: 100px;
        width: 100px;
        margin: 40px;
    }

    #github{
        height: 100px;
        width: 100px;
        margin: 40px;
    }

    #linkedIn{
        height: 100px;
        width: 100px;
        margin: 40px;
    }
}










@media (min-width: 1120px){
    .header{
        border: #252d3f 10px solid;
        margin: -10px;
    }
    body{
        background-color: #f2dba6;
    }

    .imgs{
        display: flex;
        flex-direction: row;
        margin-top: 58px;
    }

    .img{
        width: 100%;
        margin-bottom: -5px;
        border-top: #252d3f 10px solid;

    }

    #me{
        width: 61.5%;
        height: 49%;
        border-top: #252d3f 10px solid;
    }
    
    #nephew{
        width: 38.5%;
        height: 49%;
        border-top: #252d3f 10px solid;
    }
    #grandCanyon{
        margin-top: 58px;
    }
    
    .active{
        text-decoration: none;
        color: #3e3e13;
        font-size: 30px;
        margin-left: 90px;
        margin-right: 90px;

    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #5b5c67;
        font-size: 50px;
        margin-top: -50px;
        margin-left: -10px;
        margin-right: -10px;
        position: fixed;
        width: 100%;
    }

    #title{
        background-color: #5b5c67;
        font-size: 120px;
        text-align: center;
        color: #71331f;
    }

    #dropbtn{
        background: #00000000;
        border: none;

    }

    .dropdown-content{
        text-align: center;
    }

    .introSkills{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
    }

    .skills{
        font-size: 30px;
        flex-direction: column;
        list-style: none;
        flex: 6;
        margin-right: 10%;
        margin-left: 5%;
        background-color: #a25434;
        border-radius: 15%;
        padding: 30px;
        padding-left: 80px;
        border: #2c280e 5px solid;
    }

    .languages{
        list-style: none;
        text-align: center;
    }

    .liBack{
        margin-top: 20px;
        width: 200px;
        background-color: #7a7b7d;
        border-radius: 20%;
    }
    .languageImg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 40px;
        margin-top: 30px;
    }
    #jsImg{
        width: 50px;
    }

    #reactImg{
        width: 150px;
    }

    #cssImg{
        width: 90px;
    }

    #nodeJsImg{
        margin-top: -20px;
        width: 70px;
    }

    #htmlImg{
        margin-top: -20px;
        width: 40px;
    }

    .lists{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #intro{
        font-size: 30px;
        flex: 1;
        align-self: center;
        margin-right: 5%;
        border: #37435b solid 5px;
        border-radius: 20%;
        padding: 20px;
        background-color: #312f12;
        color: #a25434;
    }

    .tools{
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
        background-color: #495362;
        border: #a25434 20px groove;
        color: #492a1d;
        font-weight: 500;
    }
    .toolsList{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -30px;
    }

    .toolsList1{
        list-style: none;

    }

    .liTools{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .toolImg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #vsCodeImg{
        width: 50px;
    }

    #macOSImg{
        margin-top: -10px;
        width: 50px;
    }

    #slackImg{
        margin-top: -10px;
        width: 50px;
    }

    .aboutMe{
        margin: 50px;
        background-color: #495362;
        border: #a25434 20px groove;
        font-size: 40px;
        border-radius: 50%;
    }

    .p1, .p2{
        margin: 90px;
        text-indent: 63px;
    }

    .form{
        font-size: 40px;
        color: #7d4129;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .inputs{
        text-align: center;
    }

    #one, #two, #three, #send{
        margin: 30px;
    }

    #fName, #email{
        height: 20px;
        width: 300px;
    }

    #message{
        height: 200px;
        width: 700px;
    }

    #send{
        height: 40px;
        width: 200px;
        font-size: 30px;
        background-color: #7a7b7d;
        color: #7d4129;
    }

    #fName, #email, #message, #send{
        border-radius: 10%;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #a25434;
        margin-top: 40px;
    }

    #twitter{
        height: 100px;
        width: 100px;
        margin: 40px;
    }

    #github{
        height: 100px;
        width: 100px;
        margin: 40px;
    }

    #linkedIn{
        height: 100px;
        width: 100px;
        margin: 40px;
    }
}