#about{
    font-family: 'Playfair Display', serif;
    z-index: 1;
}

.headshot{
    grid-column: 2/3;
    border-radius: 50px;
}

.aboutDescription{
    line-height: 2;
}

@media (min-width: 1000px){
    .aboutGrid{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 1fr 2fr 4fr 1fr;
        align-items: center;
        background-color: white;
    }

    .headshot{
        width: 70%;
        margin-top: 8%;
    }

    .aboutDescription{
        font-size: 20px;
        padding-top: 4%;
    }
}

@media (max-width: 1000px) and (min-width: 850px){
    .aboutGrid{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 4fr 2fr 1fr;
        align-items: center
    }

    .headshot{
        width: 50%;
    }

    .aboutDescription{
        font-size: 20px;
        padding-top: 30%;
    }
}

@media (max-width: 850px) and (min-width: 700px){
    .aboutGrid{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 7fr 3fr 1fr;
        align-items: center
    }

    .headshot{
        width: 50%;
    }

    .aboutDescription{
        font-size: 18px;
        padding-top: 50%;
    }
}

@media (max-width: 700px) and (min-width: 550px){
    .aboutGrid{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 8fr 4fr 1fr;
        align-items: center
    }

    .headshot{
        width: 70%;
    }

    .aboutDescription{
        font-size: 15px;
        padding-top: 20%;
    }
}

@media (max-width: 550px){
    .aboutGrid{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 10fr 6fr 1fr;
        align-items: center
    }

    .headshot{
        width: 70%;
    }

    .aboutDescription{
        font-size: 14px;
        padding-top: 20%;
    }
}