
.navbar{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    background-color: #10b5a6;
    background-image: linear-gradient(#10b5a6, white);
    height: 120px;
    width: 100.7%;
}

.links{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Aclonica';
    font-size: 150%;
}

#name{
    padding-left: 10%;
    font-family: 'Aclonica';
    font-size: 250%;
}