#projects{
    overflow: hidden; 
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.skewTopBackground2, .skewBottomBackground{
    z-index: 1;
    width: 100%;
    border-radius: 0;
}

.skewTopBackground1{
    z-index: 2;
    width: 100%;
    border-radius: 0;
}

.skewBottomBackground{
    margin-top: -2%;
}

.skewTopBackground2{
    width: 100%;
    border-radius: 0;
}

.projectGrid{
    margin-top: -2%;
    position: relative;
    padding-top: 2%;
    background-color: #909090;
    z-index: 2;
}

img{
    width: 130%;
    border-radius: 15px;
}

.title{
    font-size: 30px;
    font-weight: 900;
}

.projectInfo > div{
    padding-bottom: 25px;
}

.projectInfo{
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boldBuilt{
    font-weight: 900;
    font-size: 23px;
    text-shadow: 1.8px 0 #676767;
}

.boldBuilt2{
    font-weight: 900;
    font-size: 23px;
    text-shadow: 1.5px 0 #a09c9c;
}


@media (min-width: 1000px){
    #projects2{
        display: none;
    }

    .projectGrid, .projectGrid2{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-auto-rows: auto;
    }
    
    
    .swapMeet{
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%
    }
    
    .noted{
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%;
        padding-top: 17%;
    }
    
    .triviaGame{
        grid-column: 2/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%;
        padding-top: 17%;
    }
    .todos{
        grid-column: 2/3;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%;
        padding-top: 2%;
    }

    .swapMeet > a, .noted > a, .triviaGame > a, .todos > a{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .zenGarden{
        grid-column: 2/3;
        grid-row: 5/6;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%;
        padding-top: 17%;
    }
}

@media (max-width: 1000px){
    #projects{
        display: none;
    }

    .projectGrid, .projectGrid2{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    }


    .swapMeet, .noted, .todos{
        padding-bottom: 75px;
    }

    .swapMeet, .triviaGame, .todos, .zenGarden, .noted{
        display: flex;
        flex-direction: column;
    }

    .swapMeet > a, .noted > a, .triviaGame > a, .todos > a, .zenGarden > a{
        width: 70%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}
