.header, .classifieds{
    font-size: 70px;
    text-align: center;
    background: lightgray;
    margin-top: 20px;
    margin-bottom: 40px; 
    border: 10px solid navy;   
}

.title{ 
    display: inline-block;
    width: 49%;
    vertical-align: top;
    font-size: 70px;
    text-align: center;
}

img{
    display: inline-block;
    width: 50%;
    margin-top: 25px;
    padding-bottom: 35px;
}

.border{
    border: 10px solid navy;
}

p{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: justify;
    margin: 10px;
}

.border2{
    border: 20px solid black;
    width: 100%;
}