.header, .classifieds{
    font-size: 70px;
    text-align: center;
    background: lightgray;
    margin-top: 20px;
    margin-bottom: 40px; 
    border: 10px solid navy; 
    font-family: 'Slabo 27px', serif;
    font-weight: 999;

}

.title{ 
    display: inline-block;
    width: 49%;
    vertical-align: top;
    font-size: 70px;
    text-align: center;
}

img{
    display: inline-block;
    width: 50%;
    margin-top: 25px;
    padding-bottom: 35px;
}

.border{
    border: 10px solid navy;
}

.article{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: justify;
    margin: 10px;
}

.border2{
    border: 20px solid black;
    width: 100%;
}

.ads{
    column-count: 3;
}

.border3{
    border: 3px solid navy;
}

span{
    text-align: justify
}


.cAds2{ 
    border-style: dotted;
    border-width: 4px;
}

.cAds3{
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
}

.article, .cAds, .cAds2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.cAds4{
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}