.createPageForm, .editPageForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.createPageForm > input, .editPageForm > input{
    width: 30%;
    margin: 5%;
    border-radius: 15px;
    border: none;
    background-color: #e2dfdf;
    font-size: 20px;
    text-align: center;
}

.createPageForm > textarea, .editPageForm > textarea{
    width: 50%;
    height: 200px;
    margin-bottom: 5%;
    border-radius: 15px;
    border: none;
    background-color: #e2dfdf;
    font-size: 20px;
}

.createPageForm > button, .editPageForm > button{
    width: max-content;
    border-radius: 15px;
    border: none;
    background-color: none;
    font-size: 20px;
}