.addCollectionContainer{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 312px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 24%;
    border-radius: 5px;
}

.collectionsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 400px;
    margin-top: 3%;
}

.addCollection{
    width: 50px;
    height: 50px;
}

.createCollectionForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createCollectionForm > input{
    margin-bottom: 5%;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #e2dfdf;
    border: none;
}

.createCollectionForm > textarea{
    margin-bottom: 5%;
    height: 100px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #e2dfdf;
    border: none;
}

.createCollectionForm > input::placeholder{
    color: #484646;
}

.createCollectionForm > button{
    font-size: 20px;
    background-color: #ecece300;
    border: none;
    color: white;
}





@media (min-width: 550px) and (max-width: 900px){
    .collectionsGrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px){
    .collectionsGrid{
        grid-template-columns: 1fr;
    }
} 