.collectionContainer{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: max-content;
    height: 540px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 14%;
    padding-left: 5%;
    padding-top: 7%;
    color: white;
    font-size: 30px;
}

.collectionView{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: max-content;
    height: 50%;
    vertical-align: middle;
    border-radius: 5px;
    display: table;
}

.collectionTitle{
    padding-top: 10%;
    display: table-cell;
    vertical-align: middle;
}

 
@media (max-width: 550px){
    .collectionContainer{
        margin-left: 25vw;
    }
}

/* @media (min-width: 750px) and (max-width: 1250px){
    .collectionContainer{
        height: 100%;
        width: 20vw;
    }
}  */