.pageContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 450px;
}

.pageTitle{
    padding-top: 3%;
    grid-column: 1/3;
    grid-row:1/2;
    font-size: 25px;
}

.pageDescription{
    padding: 3%;
    height: 100%;
    background-color: #ffffff00;
    border: none;
    text-align: left;
    color: black;
    grid-column: 1/2;
    grid-row: 2/3;
}

.editAndDeletePage{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 8%;
    padding-right: 3%;
}


.editAndDeleteContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.editPage{
    width: 30px;
    height: 30px;
}

.deletePage{
    width: 30px;
    height: 30px;
}


@media (max-width: 850px){
    .editAndDeletePage{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 17%;
        padding-right: 3%;
    }
}