.collectionPage{
    width: 100vw;
    margin-bottom: 2%;
}

.flipPage{
    width: 70vw !important;
    z-index: 500;
}

.collectionTitleAndEdit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
    text-align: center;
}

.collectionPageTitle{
    font-size: 40px;
}

.editDeleteTitleContainer{
    padding-top: 1%;
}

.editCollectionForm{
    text-align: center;
    padding-bottom: 2%;
}

.editCollectionForm > input{
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: #e2dfdf;
    text-align: center;
}


.editCollection, .deleteCollection, .saveCollection{
    width: 30px;
    height: 30px;
}

.saveCollection{
    margin-bottom: -30%;
}

.saveCollectionButton{
    background-color: none;
    border: none;
}

.editDeleteButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
}

.addNewPage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.plusIconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plusIcon{
    width: 80px;
    height: 80px;
}

.bookAndNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.page{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    border-radius: 5px;
    text-align: center;
}

.nextPage, .previousPage{
    font-size: 20px;
    padding: 1%;
}

.bookAndNav > button{
    background-color: white;
    border: none;
}

/* .rfp-touchZone{
    height: 50% !important;
}

.rfp-touchZone-next{
    margin-bottom: 65.3% !important;
} */




@media (max-width: 850px){

    .page{
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        height: 1000px;
        border-radius: 5px;
        text-align: center;
    }

    .flipPage{
        width: 100vw !important;
        z-index: 500;
    }
}