*{
    background-color: lightblue;
}

#getTodos{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.todos{
    font-size: 40px;
}

#postTodo{
    width: 300px;
    font-size: 30px;
}

.name2{
    margin-top: 10px;
}

.postTodo{
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: auto;
    width: 40px;
    font-size: 20px;
}


.striken{
    text-decoration: line-through;
}