* {
    margin: 0 auto;
}

/* great styling! */
    body{
        background-image: url("https://wallpapercave.com/wp/wp1907535.jpg");
        background-size: 100%, 100%;
        color: white;
        font-family: 'Ruslan Display', cursive;
    }
    
    header{
        text-align: center;
        font-size: 100px;
        color: white;
    }

    .total{
        display: flex;
        justify-content: center;
        width: 25%;
    }
    
    #reset{
        font-size: 20px;
    }

    #total{
        font-size: 50px;
    }
    
    .titles{
        margin-top: 40px;
    }

    .allPics{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px;
    }

    .all {
        margin-top: 120px;
        width: 450px; 
        height: 350px;
    }
    
    #goombaButton{
        width: 250px;  
    }
    
    #bobombButton{
        width: 325px;
        margin-top: -20px;
    }
    
    #cheepButton{
        width: 300px;
    }
    #cheepButton1, #bobombButton1, #goombaButton1{
        font-size: 40px;
        margin-top: 45px;
    }
    
    footer{
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 74px;
        font-weight: bold;
        color: black;
    }
    