* {
    box-sizing: border-box; 
    font-size: 0px;
    border: 15px white solid;
    height: 200px;
}
.box.one{
    background-color: #F5C6D6;
    width: 100%;
    display: inline-block;
}

.box.two, .box.three, .box.four, .box.five{
    background-color: #EE2E84;
    width: 25%;
    display: inline-block;

}

.box.six, .box.seven{
    background-color: #85CFD8;
    width: 50%;
    display: inline-block;

}

.box.eight{
    background-color: #8DC63F;
    width: 75%;
    display: inline-block;

}

.box.nine{
    background-color: #E76E34;
    width: 25%;
    display: inline-block;

}

@media (max-width: 768px){
    .box {
        display: block !important;
        width: 100% !important;
        height: 50px !important;
        border: 1px solid white !important;
    }
}